<div class="container mt-4">
   
    <div class="card mb-3">
        <div class="card-header text-white" style="background-color: #00AA9E;"><h5>Pesquisar</h5></div>
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-12">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nome</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Assembleia de Deus em Bonsucesso</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Projeto Vida Nova de Irajá</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Igreja Universal do Reino de Deus</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div >
        <button type="button" class="btn btn-primary btn-sm me-2">Criar</button>
        <button type="button" class="btn btn-primary btn-sm">Limpar</button>
    </div>
   
</div>
