<div fxLayout="row" fxLayoutAlign="center" class="mt-20">
    <div fxLayout="column" fxFlex="1000px">
        <form [formGroup]="membroForm" (ngSubmit)="salvar()">
            <mat-tab-group animationDuration="500ms" mat-align-tabs="start">
                <mat-tab label="Dados Pessoais">
                    <ng-template matTabContent>
                        <mat-card appearance="outlined">
                            <mat-card-header>
                                <mat-card-title>
                                    Membros
                                </mat-card-title>
                            </mat-card-header>

                            <mat-card-content>
                                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px" class="mt-20 foto-container">
                                    <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" style="display: none;">
                                    <mat-card class="preview-card" (click)="fileInput.click()">
                                        @if (imagePreview) {
                                            <img [src]="imagePreview" alt="Foto do membro">
                                        } @else {
                                            <div class="placeholder">
                                                <mat-icon>add_a_photo</mat-icon>
                                                <p>Clique para adicionar foto</p>
                                            </div>
                                        }
                                    </mat-card>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px" class="mt-20">
                                    <div fxLayout="column" fxFlex="650px">
                                        <mat-form-field appearance="outline" class="full-width">
                                            <mat-label>Nome: *</mat-label>
                                            <input type="text" placeholder="Ex: José da Silva" 
                                                            matInput
                                                            name="nome"
                                                            formControlName="nome"/>
                                            <mat-icon matSuffix>person</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="column" fxFlex="300px">
                                        <mat-form-field appearance="outline" class="full-width">
                                            <mat-label>Data nascimento: *</mat-label>
                                            <input type="date" placeholder="Ex: 00/00/0000" 
                                                            matInput
                                                            name="dataNascimeto"
                                                            formControlName="dataNascimento"/>
                                            <mat-icon matSuffix>date_range</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                                    <div fxLayout="column" fxFlex="317px">
                                        <mat-form-field appearance="outline" class="full-width">
                                            <mat-label>Documento: *</mat-label>
                                            <input type="text" placeholder="Ex: 000-000-000-00" 
                                                            matInput
                                                            name="documento"
                                                            formControlName="documento"
                                                            mask="000-000-000-00"/>
                                            <mat-icon matSuffix>badge</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="column" fxFlex="317px">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Tipo de documento</mat-label>
                                            <mat-icon matSuffix>category</mat-icon>
                                            
                                            <mat-select>
                                                <mat-option value="celular">CPF</mat-option>
                                                <mat-option value="fixo">IDENTIDADE</mat-option>
                                                <mat-option value="trabalho">CNH</mat-option>
                                                <mat-option value="trabalho">PASSAPORTE</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="column" fxFlex="300px">
                                        <mat-form-field appearance="outline" class="full-width">
                                            <mat-label>Celular: *</mat-label>
                                            <input type="text" placeholder="Ex: (00)0-0000-0000" 
                                                            matInput
                                                            name="celular"
                                                            formControlName="celular"
                                                            mask="(00)0-0000-0000"/>
                                            <mat-icon matSuffix>phone</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                                    <div fxLayout="column" fxFlex="966px">
                                        <mat-form-field appearance="outline" class="full-width">
                                            <mat-label>E-mail: *</mat-label>
                                            <input type="email" placeholder="Ex: jose@email.com" 
                                                            matInput
                                                            name="email"
                                                            formControlName="email"/>
                                            <mat-icon matSuffix>email</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Endereço" formGroupName="endereco">
                    <ng-template matTabContent>
                        <mat-card appearance="outlined">
                            <mat-card-header>
                                <mat-card-title>
                                    Endereço
                                </mat-card-title>
                            </mat-card-header>

                            <mat-card-content>
                                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px" class="mt-20">
                                    <div fxLayout="column" fxFlex="734px">
                                        <mat-form-field appearance="outline" class="full-width">
                                            <mat-label>Rua: *</mat-label>
                                            <input type="text" placeholder="Ex: Amarildo barros" 
                                                            matInput
                                                            name="rua"
                                                            formControlName="rua"/>
                                            <mat-icon matSuffix>location_on</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="column" fxFlex="215px">
                                        <mat-form-field appearance="outline" class="full-width">
                                            <mat-label>Número: *</mat-label>
                                            <input type="text" placeholder="Ex: 34, 503, etc" 
                                                            matInput
                                                            name="numero"
                                                            formControlName="numero"/>
                                            <mat-icon matSuffix>numbers</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                                    <div fxLayout="column" fxFlex="734px">
                                        <mat-form-field appearance="outline" class="full-width">
                                            <mat-label>Complemento: *</mat-label>
                                            <input type="text" placeholder="Ex: apartamento 103, bloco 6" 
                                                            matInput
                                                            name="complemento"
                                                            formControlName="complemento"/>
                                            <mat-icon matSuffix>info</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="column" fxFlex="215px">
                                        <mat-form-field appearance="outline" class="full-width">
                                            <mat-label>Cep: *</mat-label>
                                            <input type="text" placeholder="Ex: 00000-000" 
                                                            matInput
                                                            name="cep"
                                                            formControlName="cep"
                                                            mask="00000-000"/>
                                            <mat-icon matSuffix>local_post_office</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                                    <div fxLayout="column" fxFlex="359px">
                                        <mat-form-field appearance="outline" class="full-width">
                                            <mat-label>Bairro: *</mat-label>
                                            <input type="text" placeholder="Ex: Jacarépagua" 
                                                            matInput
                                                            name="bairro"
                                                            formControlName="bairro"/>
                                            <mat-icon matSuffix>location_city</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="column" fxFlex="359px">
                                        <mat-form-field appearance="outline" class="full-width">
                                            <mat-label>Cidade: *</mat-label>
                                            <input type="text" placeholder="Ex: Rio de Janeiro" 
                                                            matInput
                                                            name="cidade"
                                                            formControlName="cidade"/>
                                            <mat-icon matSuffix>location_city</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="column" fxFlex="215px">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Estado: *</mat-label>
                                            <mat-icon matSuffix>category</mat-icon>
                                            
                                            <mat-select>
                                                <mat-option value="RJ">RJ</mat-option>
                                                <mat-option value="SP">SP</mat-option>
                                                <mat-option value="MG">MG</mat-option>
                                                <mat-option value="BA">BA</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                                    <div fxLayout="column" fxFlex="966px">
                                        <mat-form-field appearance="outline" class="full-width">
                                            <mat-label>País: *</mat-label>
                                            <input type="email" placeholder="Ex: Brasil" 
                                                            matInput
                                                            name="pais"
                                                            formControlName="pais"/>
                                            <mat-icon matSuffix>country</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Dados eclesiásticos">
                    <ng-template matTabContent>
                        <mat-card appearance="outlined">
                            <mat-card-header>
                                <mat-card-title>
                                    Dados eclesiásticos
                                </mat-card-title>
                            </mat-card-header>

                            <mat-card-content>
                                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px" class="mt-20">
                                    <div fxLayout="column" fxFlex="734px">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Congregação: *</mat-label>
                                            <mat-icon matSuffix>category</mat-icon>
                                            
                                            <mat-select>
                                                <mat-option value="RJ">EBENZER</mat-option>
                                                <mat-option value="SP">MONTE DAS OLIVEIRAS</mat-option>
                                                <mat-option value="MG">LÍRIOS DOS VALE</mat-option>
                                                <mat-option value="BA">AMORIN</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="column" fxFlex="215px">
                                        <mat-form-field appearance="outline" class="full-width">
                                            <mat-label>Data de batismo: *</mat-label>
                                            <input type="date" placeholder="" 
                                                            matInput
                                                            name="dataBatismo"
                                                            formControlName="dataBatismo"/>
                                            <mat-icon matSuffix>numbers</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                                    <div fxLayout="column" fxFlex="966px">
                                        <label id="tipo-membro-label" style="display: block; margin-bottom: 8px;">
                                            Veio de outra igreja: *
                                        </label>
                                        <mat-radio-group 
                                            aria-labelledby="tipo-membro-label"
                                            name="veioOutraIgreja"
                                            formControlName="veioOutraIgreja" 
                                            color="primary">
                                            
                                            <mat-radio-button [value]="true" style="margin-right: 16px;">
                                            Sim
                                            </mat-radio-button>
                                            
                                            <mat-radio-button [value]="false">
                                            Não
                                            </mat-radio-button>

                                        </mat-radio-group>
                                    </div>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                                    <div fxLayout="column" fxFlex="966px">
                                        <mat-form-field appearance="outline" class="full-width">
                                            <mat-label>Igreja anterior: *</mat-label>
                                            <input type="text" placeholder=""
                                                            matInput
                                                            name="igrejaAnterior"
                                                            formControlName="igrejaAnterior"/>
                                            <mat-icon matSuffix>church</mat-icon>
                                            <mat-error>Por favor informe o nome da igreja anterior.</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                                    <div fxLayout="column" fxFlex="300px">
                                        <mat-form-field appearance="outline" class="full-width">
                                            <mat-label>Recebido em: *</mat-label>
                                            <input type="date" placeholder=""
                                                            matInput
                                                            name="recebidoEm"
                                                            formControlName="recebidoEm"/>
                                            <mat-icon matSuffix>date_range</mat-icon>
                                            <mat-error>A data é obrigatória quando habilitada.</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
                
            <mat-card-actions fxLayoutGap="5px">
                <!--ABRIR MODAL CADASTRO DE PARENTES-->
                <button mat-raised-button color="accent" (click)="openDialog()">Parentes</button>

                @if (!idParaEdicao) {
                    <button mat-raised-button type="submit" color="primary" [disabled]="!membroForm.valid">
                        <mat-icon>save</mat-icon>
                        Salvar
                    </button>
                }@else {
                    <button type="button" mat-flat-button color="primary" (click)="atualizar()" [disabled]="!membroForm.valid">
                        <mat-icon fontIcon="refresh"></mat-icon>
                        Atualizar
                    </button>
                }
                <button type="button" mat-flat-button color="accent" class="ml-5">
                    <mat-icon fontIcon="backspace"></mat-icon>
                    Limpar
                </button>
            </mat-card-actions>
       
        </form>
    </div>

</div>