<div class="container mt-4">
    <form action="">
        <div class="card mb-3">
            <div class="card-header text-white" style="background-color: #00AA9E;"><h5>Novo Ministério</h5></div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-2">
                        <label for="codigo">Código</label>
                        <input type="text" class="form-control form-control-sm" id="codigo" readonly/>
                    </div>
    
                    <div class="col-10">
                        <label for="Nome">Nome</label>
                        <input type="text" class="form-control form-control-sm" id="Nome"/>
                    </div>
                </div>
            </div>
        </div>

        <div >
            <button type="submit" class="btn btn-primary btn-sm me-2">Criar</button>
            <button type="button" class="btn btn-primary btn-sm">Limpar</button>
        </div>
    </form>
</div>
