.full-width {
  width: 100%;
}

.login-container {
  background-color: #f5f5f5; /* Um fundo leve ajuda o card branco a saltar aos olhos */
}

.login-card {
  padding: 10px;
}

/* Centraliza o spinner dentro do botão caso ele saia do lugar */
button[mat-raised-button] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  margin-top: 10px;
  text-align: center;
  font-size: 0.9em;
}