<div class="container mt-4">
    <form action="">
        <div class="row row-cols-sm-2">
            <div class="col border-right">
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <label for="codigo">Código</label>
                        <input type="text" class="form-control" id="codigo" readonly/>
                    </div>
                </div>
            
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <label for="dataInauguracao">Inauguração</label>
                        <input type="date" class="form-control" id="dataInauguracao"/>
                    </div>
                </div>
            
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <label for="denominacao">Denominação</label>
                        <select name="" id="denominacao" class="form-select">
                            <option value="">Assembléia de Deus</option>
                            <option value="">Igreja Universal do Reino de Deus</option>
                            <option value="">Nova Vida</option>
                            <option value="">Vida Nova</option>
                            <option value="">Deus é Amor</option>
                            <option value="">Igreja da Restauração</option>
                            <option value="">Mundial do Reino de Deus</option>
                            <option value="">Igreja da Graça</option>
                        </select>
                    </div>
                </div>
        
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <label for="Nome">Nome</label>
                        <input type="text" class="form-control" id="Nome"/>
                    </div>
                </div>
            
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <label for="prPresidente">Pastor Presidente</label>
                        <input type="text" class="form-control" id="prPresidente"/>
                    </div>
                </div>
            
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <label for="vcPresidente">Vice-Presidente</label>
                        <input type="text" class="form-control" id="vcPresidente"/>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <label for="rua">Rua</label>
                        <input type="text" class="form-control" id="rua"/>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-3">
                        <label for="numero">Número</label>
                        <input type="text" class="form-control" id="numero"/>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-12">
                        <label for="bairro">Bairro</label>
                        <input type="text" class="form-control" id="bairro"/>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-12">
                        <label for="cidade">Cidade</label>
                        <input type="text" class="form-control" id="cidade"/>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-12">
                        <label for="estado">Estado</label>
                        <input type="text" class="form-control" id="estado"/>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-12">
                        <label for="complemento">Complemento</label>
                        <textarea class="form-control" id="complemento" rows="1"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
</div>
